#hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin: 0%;
    padding: 0%;
}

.banner {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
}

.profile-photo {
  float: left;
  height: 75px;
  width: 75px;
  margin: 10px 10px 10px 0;
  padding: 5px;
  border-radius: 50%;
}

.title-main {
    color: #50b6ff;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 2rem;
    padding: 0%;
    margin: 10px 0 0 0;
}

.title-second {
    padding: 0%;
    margin: 5px 0 0 0;
    color: #5df3ee;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

   .link-list {
    display: flex;
    gap: 10px;
    flex-direction: row;
    position: absolute;
    right: 20px;
    list-style: none;
  }

  .nav-buttons {
    background-color: rgb(5, 48, 84);
    border-radius: 10px 10px 0 0;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
  }

#main {
  display: flex;
  font-size: 12px;
  height: 450%;
  width: 350px;
  border: solid white 1px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(127, 255, 212, 0.195);
  color: white;
  padding: 10px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.2rem;
}


.back4mabout {
  background-color: azure;
  border: dotted lightblue 2px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 35px;
  width: 75px;
}

.Projects a {
  color: rgb(135, 135, 236);
}

#footer {
  background-color: transparent;
  padding: 20px 0;
}

.footer-container {
  max-width: 200px;
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Media Queries */

/* @media (min-width: 414px) {
  #hero {
    display: inline-block;
    width: 414px;
    margin: 0%;
    padding: 0%;
}
}  */
